<ion-header>
  <ion-toolbar>
    <ion-title>sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>    

    <ion-grid>
      <ion-row>
        <ion-col size-xs="6" size-md="3" style="background-color: red" >1</ion-col>
        <ion-col size-xs="6" size-md="3" style="background-color: blue">2</ion-col>
        <ion-col size-xs="6" size-md="3" style="background-color: aqua">3</ion-col>
        <ion-col size-xs="6" size-md="3" style="background-color: blueviolet">4</ion-col>
      </ion-row>
    </ion-grid>


</ion-content>
