

ion-content, ion-header {
   // --ion-background-color: darkslategrey;
   // --color:#ff0000;
    
}

ion-title{
    // --color:#ffffff;
}

ion-img{
    width: 50%;    
    margin: auto;
    background-color: var(--ion-color-step-100) !important;
}