<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-md="6">
        <ion-img  src="https://br.web.img3.acsta.net/r_1920_1080/pictures/22/03/29/15/28/0425380.jpg"></ion-img>
      </ion-col>
      <ion-col size-xs="12"  size-md="6">
        
          
          <ion-list>
            <ion-item>
              <ion-label><b>Top Gun</b></ion-label>
            </ion-item>
            <ion-item>
              <ion-label><b>Categoria: </b> Filme</ion-label>
            </ion-item>
            <ion-item>
              <ion-label><b>Genero: </b>Ação</ion-label>
            </ion-item>
            <ion-item>
              <ion-label><b>Duração: </b> 131 minutos</ion-label>
            </ion-item>
          </ion-list>


      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="12">
        <ion-list-header>
          <ion-label><b>Descrição</b></ion-label>
        </ion-list-header>
        <ion-list>
          <ion-item>
            Sequência de Top Gun: Asas Indomáveis (1986), Mais de três décadas se passaram, Pete Maverick (Tom Cruise) coleciona medalhas e reconhecimento pelos aviões abatidos. E sua carreira só não decolou porque algo não mudou: ele continua o mesmo piloto rebelde, que adora desafiar a morte.
          </ion-item>
          <ion-item>
            <ion-button (click) = "home()" >Voltar</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>